@import '../../Components/Fonts'
@import '../../Components/Colors.sass'
@import '../../Components/Constants'
@import '../../Components/Breakpoints'


.introduction_toplevel
    //width: 100vw
    @media screen and (min-width: $ss4min)
        position: absolute

.introduction_grid1
    @media screen and (min-width: $ss4min)
        position: fixed

.introduction
    //border: 2px solid green
    @media screen and (min-width: $ss5min) and (max-width: $ss6)
        padding: $p4 calc(50vw - ($ss4 - 2*$p4)/2)
    @media screen and (max-width: $ss4)
        padding: $p4
    @media screen and (max-width: $ss3)
        padding: $p4 $p3
    @media screen and (max-width: $ss2)
        padding: $p4 $p2
    @media screen and (max-width: $ss1)
        padding: $p4 $p1
    display: grid
    @media screen and (min-width: $ss4min)
        grid-template-columns: repeat(2, 1fr)


@media screen and (min-width: $ss5min) and (max-width: $ss6)
@media screen and (max-width: $ss4)
@media screen and (max-width: $ss3)
    .introduction_grid1
        text-align: center
    .introduction_grid1_links_toplevel
        display: none
@media screen and (max-width: $ss2)
@media screen and (max-width: $ss1)

.introduction_grid1_links
    transition: $t
    &:hover
        color: $fc1
        cursor: pointer