@import './Breakpoints'
@import './Constants'
@import './Colors'

.skills
    color: $fc3
    background: $bc4
    transition: $t
    &:hover
        color: $fc1
        background: $bc5
    @media screen and (max-width: $ss6)
        border-radius: 0px
        padding: 0px 10px
        margin-right: 5px
        margin-bottom: 5px
    @media screen and (max-width: 1680px)
    @media screen and (max-width: 1366px)
    @media screen and (max-width: 1068px)
    @media screen and (max-width: 768px)
    @media screen and (max-width: 400px)